venv/
__pycache__/
*.pyc
.env
*.csv
stefano_api/
qdrant_storage/
qdrant_storage_2/
datasets/
llm_datasets/
catalogues/
app/visualize_collections.py
app/collections_visualization.html
utils/
evaluator/output/
config/
commands.sh
command.sh
commands_screen_1.sh
commands_screen_1_small.sh
log.txt