venv/
__pycache__/
*.pyc
.env
*.csv
stefano_api/
qdrant_storage/
datasets/
catalogues/
app/visualize_collections.py
app/collections_visualization.html
utils/
evaluator/output/
config/
commands.sh
log.txt