pandas
bm25s
flask
qdrant-client
sentence-transformers
flask-sqlalchemy
rank-bm25
nltk
python-dotenv
openai
azure-core
azure-ai-inference
mistralai
tiktoken
thefuzz
FlagEmbedding
einops
ollama
llama-index
llama_index.embeddings.ollama
langdetect