.result-item {
  cursor: pointer;
  user-select: text;
}

.result-item.active {
  background-color: #0d6efd;
  color: white;
}

.editable.selected {
    border: 2px solid #0d6efd;
    background-color: #e7f1ff;
}
